<!DOCTYPE html>
<html>
  <body>
    <h1>DSVGO Tool</h1>

    <a href="/admin?email=admin@example.com&password=admin">Admin</a>

    <form action="/register" method="post">
      <h2>Register</h2>
      <input name="email" placeholder="email" />
      <input name="password" placeholder="password" type="password" />
      <button>Register</button>
    </form>
    <form action="/login" method="post">
      <h2>Login</h2>
      <input name="email" placeholder="email" />
      <input name="password" placeholder="password" type="password" />
      <button>Login</button>
    </form>
    <form action="/request" method="post">
      <h2>Datenlöschanfrage</h2>
      <input name="user_email" placeholder="registered email" />
      <input name="contact" placeholder="email or phone" />
      <button>Senden</button>
    </form>
  </body>
</html>
